body {
    margin:0;
    padding:0;
}

#mainContainer {
    width: 1024px;
    height:768px;
}

.draggableBox {
    position: absolute;
    width: 80px; height: 60px;
    padding-top: 10px;
    text-align: center;
    font-size: 40px;
    background-color: #222;
    color: #CCC;
    cursor: move;
    
}