#formInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputs {
    display: flex;
    flex-direction: row;
}

#buttons-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}