body {
    margin: 0;
    padding: 0;
}

#main-container {
    margin: auto;
    width: 80%;
}

#tictactoe {
    margin-top: 35px;
}

.row {
    display: flex;
}

.cell {
    width: 300px;
    height: 200px;
    background-color: rgb(83, 144, 197);
    border: 3px solid black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner {
    border : 5px solid green;
}